{% extends "layout/base_generic.html" %}
{% block content %}
<div class="container">
    <img src="https://drive.google.com/uc?export=view&id=1S_xtDwkKYz92mOhzM6lifWTE-dN6kcjV" class="img-fluid" alt="Banner home">
    
    <div class="row">
        <h1>NEWS PORTAL</h1><span>Noticias deportivas</span>
    </div>
    
    <div class="row">
        <div class="col-sm mt-4">
            <h5 class="p-4">Categorías</h5>
            <div class="d-flex flex-wrap justify-content-center">
            {% for category in categories %}
                <div class="card m-3" style="width: 18rem;">
                    <img class="card-img-top p-5" src="{{ category.cover_image }}" alt="{{ category.cover_image }}" />
                    <div class="card-body text-center">
                    <h5 class="card-title ">{{ category.name }}</h5>
                    <a href="{{ category.slug }}" class="btn btn-light">Ver más</a>
                    </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-sm mt-4">
            <h5 class="p-4">Recientemente en News Portal</h5>
            <div class="d-flex flex-wrap justify-content-center">
            {% for news in last_news %}
                <div class="card m-3" style="width: 18rem;">
                    <div class="d-flex align-items-center justify-content-center" style="height: 280px;">
                        <img class="card-img-top p-3" src="{{ news.cover_image }}" alt="{{ news.cover_image }}" style="max-height: 280px; width: auto;"/>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.extract }}</p>
                        <p class="card-text"><strong>Autor: </strong>{{ news.author }}</p>
                        <p class="card-text"><strong>Fecha: </strong>{{ news.create_at }}</p>
                        <a href="{{ news.category.slug }}/{{ news.slug }}" class="btn btn-dark">Ver noticia</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm mt-4">
            <div class="container-sm d-flex flex-column text-center">
                <h5 class="p-4">Nuestros Autores</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    {% for author in authors %}
                    <div class="card mb-3 text-center" style="width: 250px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ author.image }}" class="img-fluid rounded m-2" alt="Autor" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ author.name }}</h5>
                                    <a href="autores/{{ author.slug }}"><button type="button" class="btn btn-secondary btn-sm">Ver</button></a>
                                </div>
                            </div>
                        </div>
                    </div>                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}