<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Portal</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    
    <div class="container-fluid">
        <button type="submit" class="btn btn-primary">
            Botón prueba
        </button>

        <div class="container-sm">
            {% for author in authors %}
                
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ author.image }}" class="img-fluid rounded-start" alt="Autor" />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ author.name }}</h5>
                      
                      
                    </div>
                  </div>
                </div>
              </div>
                
            {% endfor %}
        </div>
      </div>

    

    


</body>
</html>